body {
    background-color:rgba(9, 50, 6, 0.893);

}

h1{
    position: relative;
    padding-top: 50px;
    font-size: 60px;
    margin-left: 30px;
}

.first{
    display: flex;
    margin-top: -10px;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    border-bottom: 4px solid rgb(0, 0, 0);
    background-color: rgb(143, 94, 30);
    margin-left: -10px ;
    margin-right: -20px ;

}

.bells{
    position: absolute;
    width: 200px;
    right: 0px;
    bottom: 40px;
    opacity: 0.8;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(154, 6, 6);
    position: relative;
    height: 200px;
    padding-top: 0px;
    margin-top: -18px;
    margin-left: -20px;
    margin-right: -20px;
    padding-bottom: 10px;
    border-bottom: 4px solid rgb(0, 0, 0);
}

.ginger{
    position: absolute;
    z-index: -1;
    opacity: 0.3;
    width: 500px;
}

.on{
   color: rgb(255, 234, 0); 
}
.off{
    color: aliceblue;
}

.codystar-light {
    font-family: Codystar, sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
.codystar-regular {
    font-family: Codystar, sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.playfair-display{
    font-family: Playfair Display, serif;
    font-optical-sizing: auto;
    font-weight: 300px;
    font-style: normal;
    font-size: 20px;
  }

.buttons{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    height: 20px;
    justify-items: center;
}

button{
    border: 3px solid black;
    height: 120px;
    width: 120px;
    border-radius: 20%;
}

.Dziadek{
    background-color: rgb(200, 210, 16);
}
.Babcia{
    background-color: rgb(123, 0, 255);
}
.Dariusz{
    background-color: brown;
}

.Kasia{
    background-color: green;
}

.Alan{
    background-color: orange;
}

.KasiaS{
    background-color: chartreuse;
}

.Jula{
    background-color: chocolate;
}

.Wika{
    background-color: bisque;
}

.Ola{
    background-color: aquamarine;
}

.Stramki{
    background-color: rgb(33, 186, 224);
}

.Grzesiek{
    background-color: rgb(255, 0, 0);
}

.Gizela{
    background-color: rgb(2, 33, 59);
}

.BartekLusia{
    background-color: palevioletred;
}

.Krzysiek{
    background-color: rgb(172, 0, 252);
}

.Dziewczynki{
    background-color: rgb(253, 4, 153);
}

.Bartek{
    background-color: #4CAF50;
}
.Lusia{
    background-color: #e6e662;
}
.Misia{
    background-color: #e65896;
}
.Hania{
    background-color: #00dbcd;
}
.Ania{
    background-color: #ff0303;
}
.Michal{
    background-color: #6b7e6b;
}
.Zwierzaki{
    background-color: #f58c46;
}
.Piotr{
    background-color: #ffffff;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1000;
    border-radius: 8px;
  }
  .popup.active {
    display: block;
  }
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  .overlay.active {
    display: block;
  }
  .close-btn {
    margin-top: 1px;
    padding: 5px 1px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 22px;
    width: 20px;
  }
  .close-btn:hover {
    background-color: #ff1a1a;}

  .submit-btn {
    background-color: #4CAF50;
    height: 22px;
    width: 70px;
    border-radius: 5%;
    border: 2px solid black;
    }

 .text-input-good{
    background-color: #4CAF50;
 }
